<form>
    <div class="col s12">
        <input id="username" class="input-field">
        <label for="username">Usuário</label>
    </div>
    <div class="col s12">
        <input id="password" class="input-field" type="password">
        <label for="password">Senha</label>
    </div>
    <div class="col s12">
        <div class="switch">
            <label>
                Não lembrar senha
                <input type="checkbox" id="remember_switch">
                <span class="lever"></span>
                Lembrar Senha
            </label>
        </div>
    </div>
</form>
</div>
</div>
<div class="modal-footer">
    <a href="#" class="modal-close waves-effect waves-green btn-flat" id="authenticate_btn">Autenticar</a>
</div>
</div>
<div class="row">
    <form class="col s8" id="search_form">
        <div class="input-field col s8">
            <input id="key" name="key">
            <label for="key">Chave de Busca</label>
            <button class="btn waves-effect waves-light" type="button" id="submit_search" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>