<div class="row">
    <form class="col s8" id="search_form" method="post">
        <input type="hidden" value="search" id="search_hidden">
        <div class="input-field col s8">
            <input id="key" name="key" type="text">
            <label for="key">Chave de Busca</label>
            <button class="btn waves-effect waves-light" type="button" id="submit_search" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>