<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, InjectedReferences -->
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block styles %}
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for('static', filename='css/base.css') }}>
    {% endblock %}
    {% block scripts %}
        <script src={{ url_for('static', filename='js/jquery-3.3.1.js') }} ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src={{ url_for('static', filename='js/exit.js') }}></script>
        <script>
            $(document).ready(function () {
                $(".dropdown-trigger").dropdown();
            });
        </script>
    {% endblock %}
</head>
<body>
{% block content %}
    <ul id="dropdown_user_action" class="dropdown-content">
        {% if user != None %}
            <li><a href="#"><img src="/user_photo" id="user_photo">{{ user.name }}</a></li>
            <li class="divider"></li>
            <li><a href="/history">Histórico</a></li>
            <li><a href="/sources">Fontes</a></li>
            <li class="divider"></li>
            <li><a href="#!" id="logout_link">Sair</a></li>
        {% else %}
            <li><a href="#modal_login" class="modal-trigger">Entrar</a></li>
            <li><a href="/signup">Cadastrar</a></li>
        {% endif %}
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Smart Paper</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/about">Sobre</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown_user_action">{% if user == None %}Login{% else %}{{ user.name }}{% endif %}<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}
</body>
</html>