{% extends "base_template.html" %}
{% block styles %}
    {{ super() }}
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src={{ url_for('static', filename='js/history.js') }}></script>
{% endblock %}
{% block content%}
    {{ super() }}
    <button class="btn" id="download_history_btn">Download do histórico</button>
    <ul class="collection">
        {% for article in articles %}
            <li class="collection-item">{{ article.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}