{% extends "base_template.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static', filename='css/index.css')}}>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src={{ url_for('static', filename='js/index.js') }}></script>
{% endblock %}
{% block content %}
    {{ super() }}
    <div id="modal_login" class="modal">
        <div class="modal-content">
            <h4>Login</h4>
            <div class="row s12">
                {%include 'forms/login_form.html'%}
            </div>
        </div>
    </div>
    <div class="row">
        {% include 'forms/search_form.html' %}
    </div>

    <div class="result_collection_container">
        <ul class="collection with-header result_collection">
            <li class="collection-header"><h4>Resultados</h4></li>
        </ul>
    <a href="#" id="back_to_search" class="waves-effect waves-light btn">Voltar</a>
    </div>
{% endblock %}